.learningSection {
  padding: 50px;
  max-width: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;

  .titleWrapper {
    width: 140px;

    .title {
      width: 140px;
      font-size: 35px;
    }

    .titleUnderline {
      display: block;
    }
  }
}

@media screen and (max-width: 900px) {
  .learningSection {
    max-width: 100%;
    width: 100%;
  }
}
