.mainPage {
  display: flex;
  width: 100%;

  .main {
    display: flex;
    flex-direction: column;
    width: 100%;

    .sectionsTitleWrapper {
      padding: 20px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      height: 8vh;

      .sectionTitleWrapper {
        width: 50%;
        display: flex;
        justify-content: center;

        .sectionTitle {
          max-width: 50%;
          width: 100%;
          text-align: center;
          font-size: 25px;
        }
      }
    }
  }

  .sectionDetails {
    display: flex;
    max-width: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .mainPage {
    .main {
      .sectionsTitleWrapper {
        .sectionTitle {
          width: 100%;
          font-size: 25px;
          position: relative;
          text-align: center;
          
          .titleUnderline {
            position: absolute;
            width: 100%;
            height: 3px;
            background: red;
            top: 35px;
            left: 0;
            animation: drawline 2s forwards;
          }
        }
      }
    }
  }
}

@keyframes drawline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
